/**
* Import dependecies
**/

@import url("https://fonts.googleapis.com/css?family=Lekton:400,400i,700|Montserrat+Alternates:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Montserrat+Subrayada:400,700|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("./sections/analytics/index.css");
@import url("./sections/animations/loaders/index.css");
@import url("./sections/animations/index.css");
@import url("./sections/footer/index.css");
@import url("./sections/forms/index.css");
@import url("./sections/homepage/index.css");
@import url("./sections/interactive/index.css");
@import url("./sections/map/index.css");
@import url("./sections/navbar/navbar.css");
@import url("./sections/resource/index.css");
/**
* font-family: 'Montserrat', sans-serif;
* font-family: 'Montserrat Alternates', sans-serif;
* font-family: 'Montserrat Subrayada', sans-serif;
**/

/**
*  Headers 
*/
html, body { 
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    overflow-x:hidden;
}
body {
    font-size: 6px;
    color: #222;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.h1 {
    font-family: Montserrat;
    font-size: 2.5rem;
    letter-spacing: 2px;
    font-weight: 500;
}

.h2 {
    font-family: Montserrat;
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: 400;
}

.h3 {
    font-family: Montserrat;
    font-size: 1.8rem;
    letter-spacing: 1px;
    font-weight: 300;
}

.h4 {
    font-family: Montserrat;
    font-size: 1.4rem;
    font-weight: 300;
}

/**
*  Body 
*/

.b1 {
    font-family: Lekton;
    font-size: 1.3rem;
    font-weight: 500;
}

.b2 {
    font-family: Lekton;
    font-size: 1.2rem;
    font-weight: 400;
}

.b3 {
    font-family: Lekton;
    font-size: 1.1rem;
    font-weight: 400;
}

.b4 {
    font-family: Lekton;
    font-size: 1rem;
    font-weight: 400
}

/**
* Weight of fonts 
**/

.w1 {
    font-weight: 300;
}

.w2 {
    font-weight: 400;
}

.w3 {
    font-weight: 500;
}

.w4 {
    font-weight: 600;
}

/**
*   Colors 
*/

.primary1 {
    color: #5efc82;
}

.primary2 {
    color: #00c853;
}

.primary3 {
    color: #009624;
}

.secondary1 {
    color: #ffbb93
}

.secondary2 {
    color: #ff8a65;
}

.secondary3 {
    color: #c75b39;
}

.primary1-bg {
    color: #5efc82;
}

.primary2-bg {
    color: #00c853;
}

.primary3-bg {
    color: #009624;
}

.secondary1-bg {
    background-color: #ffbb93
}

.secondary2-bg {
    background-color: #ff8a65;
}

.secondary3-bg {
    background-color: #c75b39;
    border-color:#c75b39;
}

.text-color {
    color: #444;
}

.gray {
    color: #222;
}

.gray2 {
    color: #666;
}

.gray3 {
    color: #888;
}

.accent-color {
    color: #ffbb93;
}